
body {
    /*background-color: #333;
    margin-left: 10%;*/
}

#mainCanvas {
   /*width: 75%;
   height: 75%;
   text-align:center;*/
   border:1px solid #000000;
   #position: absolute;
   /*left: 50%;*/
   margin-top: 10px;
   width: 800;
   height: 600px;
   background-color: #FFF;

}

.container {
  display: flex;
  #height: 300px; /* Or whatever */
}

.left {
  width: 300px;  /* Or whatever */
  height: inherit; /* Or whatever */
  margin: 10px 5px 0 auto;  /* Magic! */
  border:1px solid #000000;
  /*background-color: #333;*/
}
.middle {
    width: 800px;
    margin: 10px 5px 0 5px;
}

.right {
    width: 300px;  /* Or whatever */
    height: inherit; /* Or whatever */
    margin: 10px auto 0 5px;  /* Magic! */
    border:1px solid #000000;
}

#top_nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#top_nav ul li {
    float: left;
    padding-left: 12%;
}

#top_nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#top_nav ul li a:hover {
    background-color: #111;
}

.left ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: #ffffff;
  font-size: 17px;
  background: #333;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border-color: #333;
  width: 100%;
}

.btn:hover {
  background: #111;
  text-decoration: none;
}
